body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFCF2;
}

h1 {
    font-family: 'Kablammo', cursive;
    font-size: 30px;
    margin-bottom: 30px;
    color: #252422;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    height: 512px;
    width: 512px;
    flex-shrink: 0;
}

.singleGrid {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    background-color: rgb(255, 255, 255);
    column-gap: 0px;
    row-gap: 0px;
    border: none;
    cursor: crosshair;
}

.sketch-container {
    display: flex;
    gap: 25px;
}
.settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
}

.customize {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.customize-input {
    color: #403D39;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

.customize-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 70px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .customize-input:hover {
    transform: scale(1.05);
  }

  .customize-input::-webkit-color-swatch {
    border-radius: 5px;
    border: none;
  }
  .customize-input::-moz-color-swatch {
    border-radius: 15px;
    border: none;
  }


.customize-button {
    flex: 1;
}

.grid-size{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    gap: 20px;
}

.grid-size-input-container{
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.grid-size-input {
    appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 6px;
    background: #403D39;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 20px;
}
.grid-size-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #FFFCF2;
    cursor: pointer;
    height: 14px;
    width: 14px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #252422;
}

.grid-size-input:hover {
    opacity: 0.9;
}


.button {
    background-color: rgb(204, 197, 185);
    border: 1.5px solid #403D39;

    color: #403D39;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    transition-duration: 0.3s;
}

.button-down,
.button:hover {
    background-color: #403D39;
    border: none;
    color: #FFFCF2;
}

.reset-button {
    background-color: #eb5e28;
    border: none;
    color: #eaeaea;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
}

.reset-button:hover {
    background-color: #CCC5B9;
    border: 1.5px solid #eb5e28;
    color: #eb5e28;
}

.sketch-container {

    padding: 25px;
    border-radius: 16px;
    background-color: #CCC5B9;
}